<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idcard.dao.UserDao">

	<insert id="insert">
		insert into user_update(user_name,type,number,file1,file2,file3,status) values
			(#{userName},#{type},#{number},#{file1},#{file2},#{file3},#{status})
	</insert>

	<select id = "selectAll" resultType="IdUser">
		select * from user_update
	</select>

	<select id = "getUserByUserId" parameterType="Integer" resultType="IdUser">
		select * from user_update where user_id = #{userId}
    </select>

	<update id="update" parameterType="IdUser">
		update user_update set status=#{status},content=#{content}
		  where user_id = #{userId}
	</update>
	<delete id="deleteById" parameterType="Integer">
		delete from user_update where user_id = #{userId}
	</delete>

</mapper>