<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="../static/scriptaculous/lib/prototype.js" type="text/javascript"></script>
    <script src="../static/scriptaculous/src/effects.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/validation.js"></script>

    <link rel="stylesheet" th:href="@{../static/css/style2.css}" />
    <link rel="stylesheet" th:href="@{../static/css/style3.css}" />
    <link rel="stylesheet" th:href="@{../static/css/style.css}" />

</head>
<body>

    <div class="form_content" style="width:800px;padding-top:300px">
        <input type="button" class="submit" value="实名认证" onclick="toUpload()"/>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="submit" value="认证列表" onclick="toList()"/>
    </div>

    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
        function toUpload(){
           $(window).attr('location','/toUpload');
        }
        function toList(){
            $(window).attr('location','/getAllUsers');
        }
    </script>

</body>
</html>